<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Página inicial</title>
</head>
<body>
  <h1>Sistema de formulários em NestJS</h1>
  <ul>
    <li><a href="/forms/person">Cadastro de pessoa</a></li>
    <li><a href="/forms/request">Formulário de solicitação</a></li>
    <li><a href="/records">Listar registros salvos</a></li>
  </ul>
</body>
</html>